<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484014128041-2ua01d8br9e74htd2d8gvlkg6be09dd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484014128041-2ua01d8br9e74htd2d8gvlkg6be09dd3</string>
	<key>API_KEY</key>
	<string>AIzaSyCUHcHPBWs6-ywWrse1O5rR4k2Xbf9czDY</string>
	<key>GCM_SENDER_ID</key>
	<string>484014128041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ramazanyerlikaya.flutterFirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-example-add5f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-example-add5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484014128041:ios:272d35f2c8c2dacd46a2b8</string>
</dict>
</plist>